<div id="contenedor-terminos">
    <div id="contenido-terminos">
        <h2>Términos y Condiciones de Uso</h2>
        <p>    
            Bienvenido al sitio web Alquimist Unicorn. Al acceder y utilizar nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, te recomendamos que no utilices nuestro sitio web.
        </p>

        <h3>1. Uso del sitio web</h3>
        <p>
            1.1 Acceso al sitio web
            El acceso a nuestro sitio web está permitido de forma temporal y nos reservamos el derecho de modificar o retirar el servicio sin previo aviso. No seremos responsables si por algún motivo nuestro sitio web no está disponible en determinado momento o por cierto período de tiempo.
            <br><br>
            1.2 Restricciones de uso
            Queda prohibido utilizar nuestro sitio web para cualquier fin ilícito, difamatorio, obsceno, ofensivo o que viole los derechos de propiedad intelectual de terceros. No deberás cargar, publicar o transmitir cualquier contenido que pueda ser perjudicial, invasivo o dañino para nuestro sitio web o para otros usuarios.
            <br><br>
            1.3 Contenido generado por el usuario
            Si contribuyes con contenido generado por el usuario, como comentarios o publicaciones, conservarás los derechos de autor sobre tu contenido. Sin embargo, nos otorgas una licencia no exclusiva, libre de regalías y sublicenciable para utilizar, modificar, adaptar, distribuir y mostrar ese contenido en relación con nuestro sitio web.
        </p>
        <h3>2. Propiedad intelectual</h3>
            <p>
            2.1 Derechos de autor
            Todos los derechos de propiedad intelectual sobre el contenido presente en nuestro sitio web (textos, imágenes, logotipos, videos, etc.) son propiedad nuestra o de nuestros licenciantes. Está prohibida la reproducción, distribución, exhibición o cualquier otro uso sin nuestro permiso explícito.
            <br><br>
            2.2 Licencia de usuario
            Al cargar o enviar contenido a nuestro sitio web, garantizas que tienes los derechos necesarios para otorgarnos la licencia descrita en la sección 1.3. Además, aceptas que otros usuarios también puedan acceder y utilizar tu contenido de acuerdo con estos términos y condiciones.
        </p>
        <h3>3. Privacidad</h3>
        <p>
            3.1 Política de privacidad
            Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal de los usuarios. Al utilizar nuestro sitio web, aceptas nuestra política de privacidad.
            <br><br>
            3.2 Cookies y tecnologías de seguimiento
            Utilizamos cookies y otras tecnologías similares para mejorar la experiencia del usuario y recopilar información sobre el uso de nuestro sitio web. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política de Cookies.
        </p>
        <h3>4. Limitación de responsabilidad</h3>
        <p>
            4.1 Exclusión de garantías
            Nuestro sitio web se proporciona "tal cual", sin garantías de ningún tipo, ya sean expresas o implícitas. No garantizamos la exactitud, fiabilidad, disponibilidad o idoneidad de la información y servicios proporcionados en nuestro sitio web.
            <br><br>
            4.2 Limitación de responsabilidad
            En ningún caso seremos responsables por daños directos, indirectos, incidentales, especiales o consecuentes, incluyendo pérdidas de ingresos, beneficios o datos, derivados del uso o la imposibilidad de utilizar nuestro sitio web.
        </p>
        <h3>5. Enlaces a terceros</h3>
        <p>
            5.1 Responsabilidad
            Nuestro sitio web puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido, productos o servicios proporcionados por esos sitios web y no seremos responsables de ningún daño o perjuicio derivado de su uso.
        </p>
        <h3>6. Modificaciones y terminación</h3>
        <p>
            6.1 Cambios en los términos
            Nos reservamos el derecho de actualizar o modificar estos términos y condiciones en cualquier momento sin previo aviso. Cualquier cambio será efectivo tan pronto como se publique en nuestro sitio web. Te recomendamos revisar periódicamente los términos y condiciones actualizados.
            <br><br>
            6.2 Terminación
            Nos reservamos el derecho de terminar o suspender tu acceso a nuestro sitio web en cualquier momento y por cualquier motivo, incluyendo el incumplimiento de estos términos y condiciones.
        </p>
        <h3>7. Disposiciones generales</h3>
        <p>
            7.1 Ley aplicable y jurisdicción
            Estos términos y condiciones se rigen por las leyes del país [nombre del país]. Cualquier disputa que surja en relación con estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los tribunales del país de Chile.
            <br><br>
            7.2 Divisibilidad
            Si alguna disposición de estos términos y condiciones se considera inválida o inaplicable, las demás disposiciones seguirán siendo válidas y aplicables en la medida permitida por la ley.
            <br><br>
            7.3 Acuerdo completo
            Estos términos y condiciones constituyen el acuerdo completo entre tú y Alquimist Unicorn en relación con el uso de nuestro sitio web.Términos y Condiciones de Uso
        </p>
    </div>
</div>