html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .header {
    width: 100%;
    height: 50px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin-bottom: auto;
  }
  
  .header-content {
    background-color: bisque;
    height: 50px;
    flex-grow: 1;
  }
  
  .body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fondo-unicornio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-size: cover;
  }
  
  .login-form {
    width: 80%;
    max-width: 300px;
    background-color: #f3c6ef;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    z-index: 2;
    margin: auto;
    position: relative;
  }
  
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: auto;
  }
  
  .footer-content {
    flex-grow: 1;
    margin-left: 20PX;
  }
  .button-menu {
    background-color: #f3c6ef;
    width: 110px;
    border-radius: 15px;
  }

  .body-content {
    min-height: calc(100vh - 100px);
  }

/*

  @media screen and (min-width: 768px) {
  
    .login-form {
      width: 50%;
      max-width: 400px;
    }

  }
  
  @media screen and (max-width: 767px) {
    body {
      height: auto;
      overflow: auto;
    }
  
    .login-form {
      width: 90%;
      max-width: 250px;
      margin: auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  }
  @media screen and (min-width: 375px) and (max-width: 412px) {
    .login-form {
      width: 90%;
      max-width: 300px;
    }
  
  }
  @media screen and (min-width: 820px) and (max-width: 912px) {
    .login-form {
      width: 90%;
      max-width: 450px; 
      padding: 30px; 
    }
  }
  
*/