<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png">
</head>
<body>
    <header class="header">
        <div class="header-content">
            
        </div>
    </header>
    <div class="body-content">
        <form class="login-form" action="menu.html">
            <div class="image-container">
                <img src="../../../assets/img/favicon.png" class="logo">
            </div>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
            <br>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>
        <img src="../../../assets/img/fondo-unicornio.png" class="fondo-unicornio">
    </div>
    <footer class="footer">
        <div class="footer-content">
            
        </div>
    </footer>
    <script src="./main.js"></script>
</body>

