#inventario-menu {
    display: flex;
    flex-direction: column;

    background-color: #00000024;

    width: 10em;

}

#opciones-inventario {
    display: flex;
    flex-flow: column;
    align-items: center;


}

#boton-crear {
    font-size: large;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px ;

    border: 0;
    background-color: #f3c6ef;
}

#boton-crear:hover {
    background-color: #ffaff8;
}