html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .body-clientes {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .body-clientes-content {
    flex-grow: 1;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .app-header,
  .footer-clientes {
    background-color: transparent;
  }
  