<header class="header-menu">
    <div class="header-menu-content">
        <img src="../../../assets/img/favicon.png" class="logo">
        <span class="header-menu-text">UNICORN</span>
        <button class="menu-button" onclick="toggleMenu()">Menú</button>
        <div id="menu-dropdown" class="menu-cascada">
            <ul>
              <li><button class="button-menu">Menu de inicio</button></li>
              <li><button class="button-menu">cliente</button></li>
              <li><button class="button-menu">Compras</button></li>
              <li><button class="button-menu">Cajas</button></li>
            </ul>
          </div>
        <button class="logout-button">Cerrar sesión</button>
    </div>
</header>