<div id="modal-etiqueta"  *ngIf="EtiquetaCompartirService.modalEtiqueta">
    <div id="form-etiqueta">
        <span class="exit-button">
            <input type="button" class="exit" value="x" (click)="desaparecer()">
        </span>
        <form id="from-crear-etiqueta"  *ngIf="!EtiquetaModificarService.modificar">
            <span>
                <h3>
                    Crear Etiqueta
                </h3>
            </span>
            <span class="input-data">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" [(ngModel)]="etiqueta.name">

                <label for="color">Color</label>
                <input type="color" name="color" id="color" [(ngModel)]="etiqueta.color_etiqueta">

            </span>
            <span class="input-button" >
                <button type="submit" (click)="crearEtiqueta()">Crear Etiqueta</button>
            </span>
        </form>
        <form id="from-modificar-etiqueta" *ngIf="EtiquetaModificarService.modificar">
            <span>
                <h3>
                    Modificar Etiqueta
                </h3>
            </span>
            <span class="input-data">
                <label for="nombreE">Nombre</label>
                <input type="text" name="nombreE" id="nombreE" [(ngModel)]="EtiquetaModificarService.etiquetaModificado.name">

                <label for="colorE">Color</label>
                <input type="color" name="colorE" id="colorE" [(ngModel)]="EtiquetaModificarService.etiquetaModificado.color_etiqueta">

            </span>
            <span class="input-button">
                <button type="submit" (click)="modificarEtiqueta()">Guardar</button>
            </span>
        </form>
    </div>
</div>