.header-menu {
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    min-height: 70px;
  }
  
  .header-menu-content {
    background-color: #f3c6ef;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 62.5px;
    height: auto;
    margin: 0 5px;
    display: block;
  }
  
  .header-menu-text {
    flex-grow: 1;
    margin: 0 5px 0 70px; 
    background-color: #f3c6ef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  
  .menu-button, .logout-button {
    background-color: #f3c6ef;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
    padding: 4px 15px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: 0.2s all;
  }
  
  .menu-button {
    position: relative;
    z-index: 3;
  }
  
  .logout-button {

    width: 123px;
  }
  

  .menu-button:hover {
    background-color: #ffaff8;
  }

  .logout-button:hover {
    background-color: #ffaff8;
  }
  
  #menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 5em;
    width: 150px;
    background-color: #f3afed;
    border-radius: 5px;
    padding: 5px;
    z-index: 10000;
  }
  
  #menu-dropdown ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;

    width: 100%;

    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
  }
  
  #menu-dropdown ul li {
    width: 100%;
  }

  .button-menu {
    width: 100%;
    margin: 2px;
    padding: 10px;
    background-color:#f3b6ee ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    transition: 0.2s all;
  }
  
  .button-menu:hover {
  background-color:#f5d7f2 ;
  }

  .searchInventario{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .search{

    width: 100%;
    font-size: large;

    padding: 6px;
    border: 1px solid #afafaf;
    border-radius: 20px;
  }