<header class="header-menu" >
    <div class="header-menu-content">
        <img src="../../../assets/img/logo-slow.webp" routerLink="/menu" style="cursor: pointer;" class="logo" alt="logo">
        <span class="header-menu-text" *ngIf="HeaderMenuService.headerText">
          ALCHEMIST UNICORN
        </span>
        <span class="searchInventario" *ngIf="HeaderMenuService.searchInventario">
          <form>
            <input class="search" type="text" placeholder="Buscar...">
          </form>
        </span>
        <button class="menu-button" (click)="menuDrop()" *ngIf="HeaderMenuService.menuDrop">Menú</button>
        <div id="menu-dropdown" class="menu-cascada" #menudropdown  (click)="click($event)">
            <ul>
              <li *ngIf="!HeaderMenuService.menu">
                <button class="button-menu" routerLink="/menu">Menu Principal</button>
              </li>
              <li *ngIf="!HeaderMenuService.inventario">
                <button class="button-menu" routerLink="/inventario">Inventario</button>
              </li>
              <li *ngIf="!HeaderMenuService.clientes">
                <button class="button-menu" routerLink="/cliente">Cliente</button>
              </li>
              <li *ngIf="!HeaderMenuService.listaDeCompras">
                <button class="button-menu" routerLink="/lista_de_compras">Compras</button>
              </li>
              <li *ngIf="!HeaderMenuService.cajas">
                <button class="button-menu" routerLink="/cajas">Cajas</button>
              </li>
              <li *ngIf="!HeaderMenuService.productos">
                <button class="button-menu" routerLink="/productos">Productos</button>
              </li>
            </ul>
          </div>
        <button class="logout-button" (click)="logout()" >Cerrar sesión</button>
    </div>
</header>