<p>lista-compra-modal works!</p>
<div id="modal-compra"  *ngIf="">
    <div id="form-compra">
        <span class="exit-button">
            <input type="button" class="exit" value="x" >
        </span>
        <form id="from-crear-compra"  *ngIf="">
            <span>
                <h3>
                    Crear Lista de  Compra
                </h3>
            </span>
            <span class="input-data">
                <label for="nombre">Nombre lista</label>
                <input type="text" name="nombre" id="nombre" >

                <label for="Items">Items</label>
                <input type="Items" name="items" id="color" >

            </span>
            <span class="input-button" >
                <button type="submit" >Crear Lista</button>
            </span>
        </form>