<body class="body-menu">
    <app-header></app-header>
    <div class="body-menu-content">
        <img src="../../../assets/img/fondo-unicornio.png" class="fondo-unicornio" alt="imagen-fondo">
        <div class="table-container">
            <table>
                <tr>
                    <td><button class="NAVEGACION" routerLink="/inventario">INVENTARIO</button></td>
                    <td><button class="NAVEGACION" routerLink="/clientes">CLIENTES</button></td>
                    <td><button class="NAVEGACION" routerLink="/productos">PRODUCTOS</button></td>
                </tr>
                <tr>
                    <td><button class="NAVEGACION" routerLink="/lista_de_compras">LISTA COMPRA</button></td>
                    <td><button class="NAVEGACION" routerLink="/cajas">CAJAS</button></td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="footer-menu">
        <div class="footer-menu-content">
            <p class="footer-texto">Autores: Ariel Mancilla, Lucas Gallardo & Jorge Cárcamo</p>
        </div>
    </footer>
</body>
