<div id="modal-material" [style]="CompartirService.styleModalMaterial">
    <div id="form-material">
        <span class="exit-button">
            <input type="button" class="exit" value="x" (click)="desaparecer()">
        </span>
        <form id="from-crear-material" (submit)="crearMaterial()">
            <span>
                <h3>
                    Ingresar Nuevo Material
                </h3>
            </span>
            <span class="input-data">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" [(ngModel)]="material.nombre" maxlength="16">

                <label for="origen">Origen</label>
                <input type="text" name="origen" id="origen" [(ngModel)]="material.origen" maxlength="32">

                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad" id="cantidad" [(ngModel)]="material.cantidad" min="0">

                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" [(ngModel)]="material.precio" min="0">

                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion"  id="descripcion" [(ngModel)]="material.descripcion" maxlength="256" required></textarea>
            </span>
            <span class="input-button">
                <button type="submit">Crear Material</button>
            </span>
        </form>
    </div>
</div>

