<div id="etiquetas" (click)="click($event)">
    <h4>Etiquetas</h4>
    <ul>
        <li class="etiqueta" id="{{etiqueta._id}}-id" style="color: {{etiqueta.color_etiqueta}}" (contextmenu)="contextmenu($event)" *ngFor="let etiqueta of EtiquetaCompartirService.etiquetas">
            <span id="{{etiqueta._id}}-nombre" >{{etiqueta.name}}</span>
        </li>
    </ul>
    <div class="contexMenu" (click)="disappearContext()" #menu>
        <ul>
            <li (click)="ApareceModalModificarE()">Modificar</li>
            <li (click)="eliminarEtiqueta()">Eliminar</li>
        </ul>
    </div>
</div>

<!-- style="color: {{etiqueta.color}}" -->
