#inventario-menu {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

    position: fixed;
    bottom: 0;

    width: 14%;
    height: 90%;

    min-width: 101px;
    max-width: 200px;

    background-color: rgba(255, 192, 203, 0.099);
}

#opciones-inventario{
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
    height: 25%;
}

#boton-crear{
    padding: 10px;
    margin-top: 20px;

    width: 80%;

    cursor: pointer;

    border-radius: 20px;
    background-color: rgb(255, 189, 200);
    border: 1px solid pink;
    transition: 0.2s all;
}

#boton-crear:hover {
    background-color: rgb(255, 216, 223);
    border: 1px solid rgb(224, 161, 171)
}
