<div id="modal-etiqueta">
    <form id="from-crear-etiqueta" method="post">
        <span>
            <h3>
                Crear Etiqueta
            </h3>
        </span>
        <span class="input-data">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">

            <label for="nombre">Color</label>
            <input type="color" name="Color" id="Color">

        </span>
        <span class="input-button">
            <button type="submit">Crear Etiqueta</button>
        </span>
    </form>
</div>