
<div class="contenedor">
    <app-ventas-header></app-ventas-header>

    <div class="contenedor-productos">
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
        <div class="producto">
            papa
        </div>
    </div>
</div>
