.login-form {
  width: 80%;
  max-width: 300px;
  background-color: #f3c6ef;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid black;
  z-index: 2;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center
}

.logo {
  width: 100px;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login-form button {
  background-color: bisque;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 135px;
  margin-right: 135px;
}
.login-form button:hover {
  background-color: rgba(255, 228, 196, 0.777);
}

/*
@media screen and (min-width: 768px) {

  .login-form button {
    margin-left: 145px;
    margin-right: 145px;
  }
}

@media screen and (max-width: 767px) {

  .login-form button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 412px) {
  
  .login-form button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media screen and (min-width: 820px) and (max-width: 912px) {

  .login-form button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
*/