
<div class="contentenedor-materiales">
    <div id="{{material._id}}" class="material" *ngFor="let material of materiales">
       <span class="material_nombre">Nombre: {{material.nombre}}</span>
       <span class="material_cantidad">Cantidad: {{material.cantidad}}</span>
       <span class="material_precio">Precio: {{material.precio}}</span>
       <span class="material_origen"> Origen: {{material.origen}}</span>
       <span class="material_etiquetas">Etiquetas: <br>{{material.etiquetas}}</span>
    </div>     
</div>

#AD0434