header{
    background-color: rgb(69, 69, 69);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(91, 87, 89);
}

img{
    width: 62.5px;
    height: 62.5px;

    margin: 0 5px;
    cursor: pointer;
}

.img-logo{
    margin: 5px;
}

.carro {
    width: 30px;
}

input{
    font-size:large;
    margin-right: 15px;
    padding: 10px;
    border: 0;
    color: rgb(213, 213, 213);
    background-color: rgba(69, 69, 69, 0.5);
}

input:hover{
    border: 0;
    color: #fff;
    background-color: #5b5859;
}

.botones{ 
    display: flex;
    align-items: center; 
}