
<header>
    <div class="img-logo">
        <img src="../../../../../assets/img/logo-slow.webp" routerLink="/" alt="Unicorn Alquimist">
    </div>
    <div class="botones">
        <input type="button" routerLink="/" value="Home">
        <input type="button" routerLink="/home" value="Perfil">
        <input type="button" routerLink="/login-register" value="Login/Register">
        <input type="button" routerLink="/admin" value="Cerrar Sesion">
        <input type="image" class="carro" routerLink="/carro" src="../../../../../assets/img/cart-line-icon.png">
    </div>
</header>