.contenedor {
  width: 100%;
  background-color: rgb(48, 48, 48);
}

.login-container, .register-container{
    background-color: #4e4e4e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white; 
  }

  .register-container{
    background-color: #f397b1;
  }

  .login-container h2 {
    color: white;
  }
  
  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input, button {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 5px;
    align-self: center;
  }
  
  button , .button-register{
    font-size: medium;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  button:hover, .button-register:hover {
    background-color: #f397b1;;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
  }

  .button-register:hover{
    background-color: #4e4e4e;
  }
  
  a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-align: left;
  }
  
.form-login-register{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}