
.contenedor-materiales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    position: fixed;
    right: 0;
    top: 10%;

    padding-top: 1%;

    width: 80%;
    height: 89%;

    overflow-y: scroll;

    background-color: #ff000024;
}

.material {
    display: flex;
    flex-direction: column;

    margin: 10px;
    padding: 15px;
    
    width: 100%;
    height: auto;

    min-width: 200px;
    max-width: 250px;

    max-height: 40%;
    min-height: 30%;

    cursor: default;

    background-color: #ffc4d5;
    border: 1px solid rgb(247, 168, 168);
    border-radius: 7px;
}

.etiquetas {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: start;

    width: 100%;
    height: auto;

    margin-top: 8px;
    padding-top: 15px;

    border-top: 1px solid #AD0434;
}

.material_etiquetas {
    cursor: pointer;

    padding: 5px;
    margin: 3px;

    border-radius: 15px;
    background-color: white;

}

.material_nombre{
    font-size: larger;
    display: flex;
    justify-content: center;
    text-shadow: #ffffff24;

    color: #AD0434;
}

.material_descripcion {
    display: flex;
    justify-content: center;

    width: 95%;
    margin: 10px;

}

.contenedor_numero {
    display: flex;
    padding-top: 5px;
    margin: 5px;;
}


.material_cantidad, .material_precio {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: end;
}

/*  contex menu  */

.contexMenu {
    position: fixed;
    
    width: 150px;

    z-index: 10000;

    display: none;

    background-color: #AD0434;
}

.contexMenu ul {
    padding: 0;
    margin: 0;
}

.contexMenu ul li {
    list-style-type: none;
    padding: 10px 14px;
    border: 1px solid whitesmoke;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all;

    background-color: #AD0434;
    color: #fff;
}

.contexMenu ul li:hover{
    background-color: #b43d5f;
}