
<div class="contenedor-materiales" (click)="clickM($event)">
    <div id="{{material._id}}-id" (contextmenu)="contextmenuM($event)" class="material" *ngFor="let material of CompartirService.materiales">
        <span id="{{material._id}}-nombre" class="material_nombre"title="Nombre">{{material.nombre}}</span>
        <span id="{{material._id}}-descripcion" class="material_descripcion" title="Descripcion">{{material.descripcion}}</span>
        <span id="{{material._id}}-origen" class="material_origen" title="Origen">Origen: {{material.origen}}</span>
        <div id="{{material._id}}-numeros" class="contenedor_numero" >
            <span id="{{material._id}}-precio" class="material_precio" title="Precio"> $ {{material.precio}}</span>
            <span id="{{material._id}}-cantidad" class="material_cantidad" *ngIf="material.cantidad !== 0;"  title="Cantidad">{{material.cantidad}} und.</span>
            <span id="{{material._id}}-cantidad-Zero" class="material_cantidad_Zero" *ngIf="material.cantidad == 0;" title="Cantidad">{{material.cantidad}} und.</span>
        </div>
        <div class="etiquetas">
            <div title="etiqueta" id="{{etiqueta._id}}" style="color: {{etiqueta.color_etiqueta}};" class="material_etiquetas" *ngFor="let etiqueta of material.Etiquetas">
                {{etiqueta.name}}
            </div>
            </div>
        <div class="contenedor-reserva">
            <div class="material-reservado" *ngIf="material.estado" title="Estado">
                Reservado 
            </div>
        </div>
    </div>
    <div class="contexMenu" (click)="disappearContextM()" #menuM>
        <ul>
            <li (click)="openAgregarEtiqueta()">Agregar etiqueta</li>
            <li (click)="ApareceModalModificarM()">Modificar</li>
            <li (click)="eliminarMaterial()">Eliminar</li>
        </ul>
    </div>
</div>
