
<div class="contenedor-materiales">
    <div id="{{material._id}}" (contextmenu)="contextmenu($event)" class="material" *ngFor="let material of CompartirService.materiales">
        <span class="material_nombre" title="Nombre">{{material.nombre}}</span>
        <span class="material_descripcion" title="Descripcion">{{material.descripcion}}</span>
        <span class="material_origen" title="Origen">Origen: {{material.origen}}</span>
        <div class="contenedor_numero">
            <span class="material_precio" title="Precio"> $ {{material.precio}}</span>    
            <span class="material_cantidad" title="Cantidad">{{material.cantidad}} und.</span>
        </div>
        <div class="etiquetas">
            <div title="etiqueta" class="material_etiquetas" *ngFor="let etiqueta of material.etiquetas">
                {{etiqueta}}
            </div>
        </div>

    </div>
</div>