* {
    color: #474546
}

.contenedor-materiales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    position: fixed;
    right: 0;
    top: 10%;

    padding-top: 0.25%;
    padding-bottom: 0.75%;

    z-index: -10;

    width: 85%;
    height: 89%;

    overflow-y: scroll;

    background-color: #ff000024;
}

.material {
    display: flex;
    flex-direction: column;

    margin: 10px;
    padding: 15px;
    
    width: 100%;
    height: auto;

    min-width: 200px;
    max-width: 250px;

    max-height: 90%;
    min-height: 5%;

    cursor: default;

    background-color: #ffc4d5;
    border: 1px solid rgb(247, 168, 168);
    border-radius: 7px;
    transition: 0.3s all;
}

.material:hover {
    margin: 5px;
    padding: 20px;
    background-color: #f8b7ca;
}

.etiquetas {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;

    margin-top: 8px;
    padding: 15px 0;

    border-top: 1px solid #AD0434;
}

.material_etiquetas {
    cursor: pointer;
    padding: 5px;
    margin: 3px;

    border-radius: 15px;
    background-color: white;

}

.material_nombre {
    font-size: larger;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    color: #AD0434;
}

.material-reservado{
    align-self: flex-end;
    padding: 4px;

    width: 100%;

    background-color: #ff7da2;
    border-radius: 5px;
}

.contenedor-reserva{
    display: flex;
    height: 100%;

}

.material_descripcion {
    display: flex;
    justify-content: center;

    width: 95%;
    margin: 10px;

}

.contenedor_numero {
    display: flex;
    padding-top: 5px;
    margin: 5px;;
}


.material_cantidad, .material_precio,.material_cantidad_Zero {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end
}

.material_cantidad_Zero{
    color: red;
}

/*  contex menu  */

.contexMenu {
    position: fixed;
    
    width: 150px;

    z-index: 100;

    display: none;
    padding: 3px;
    margin: 5px;

    background-color: #ee4777;
    border-radius: 5px;
}

.contexMenu ul {
    padding: 0;
    margin: 0;

}

.contexMenu ul li {
    list-style-type: none;

    padding: 10px 14px;
    margin: 1px;

    width: auto;
    cursor: pointer;
    transition: 0.2s all;


    background-color: #ee4777;
    border-radius: 5px;
    color: #d6d4d5;
}

.contexMenu ul li:hover{
    background-color: #f0668d;
    color: #fff;
}
